.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}
.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
.ex-2-square:active {
    width: 1100px;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 0.5s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background-color 1s;
}
.ex-4-square:hover {
    background-color: transparent;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 1s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover {
    filter: grayscale(1);
}
.ex-7-img, .ex-8-img {
    transition: filter 1.5s, border-radius 1.5s;
}
.ex-7-img:hover, .ex-8-img:hover, .ex-9-img:hover {
    filter: grayscale(0.5) sepia(0.5);
}
.ex-8-img:hover, .ex-9-img:hover {
    border-radius: 20px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: transform 2s, filter 2s, border-radius 2s;
}
.ex-9-img:hover {
    transform: scale(1.5);
}

.ex-10-icon {
    font-size: 60px;
    animation: loading 1s infinite linear;
}
@keyframes loading {
    from {transform: rotate(0deg);}

    to {transform: rotate(-360deg);}
}

.ex-11-icon {
    font-size: 60px;
}
@keyframes quiteloaded {
    from {transform: rotate(0deg);}

    90% {transform: rotate(300deg);}

    to {transform: rotate(0deg);}
}
.ex-11-icon:hover {
    animation: quiteloaded 2s linear;
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
} 
@keyframes top-line-12-moves {
    from {left: 10%;}

    50% {left: calc(100% - 60px);}

    to {left: 10%;}
}
.ex-12-button:hover .ex-12-top-white {
    animation: top-line-12-moves 2s linear;
}
@keyframes bottom-line-12-moves {
    from {right: 20%;}

    50% {right: calc(100% - 60px);}

    to {right: 20%;}
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom-line-12-moves 2s linear;
}
@keyframes top-line-13-moves {
    from {left: 10%; top: -10px;}

    30% {left: calc(100% - 30px); top: -10px;}

    45% {left: calc(100% - 30px); top: calc(100% - 10px);}

    75% {left: -10px; top: calc(100% - 10px);}

    90% {left: -10px; top: -10px;}

    to {left: 10%;top: -10px;}
}
.ex-13-button:hover .ex-13-top-white {
    animation: top-line-13-moves 2s linear;
}
@keyframes bottom-line-13-moves {
    from {right: 20%; bottom: -10px;}

    30% {right: calc(100% - 50px); bottom: -10px;}

    45% {right: calc(100% - 50px); bottom: calc(100% - 10px);}

    75% {right: -10px; bottom: calc(100% - 10px);}

    90% {right: -10px; bottom: -10px;}

    to {right: 20%; bottom: -10px;}
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom-line-13-moves 2s linear;
}